<h1>Listing statistics</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Project</th>
      <th>Task</th>
      <th>Number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.date %></td>
        <td><%= statistic.project_id %></td>
        <td><%= statistic.task_id %></td>
        <td><%= statistic.number %></td>
        <td><%= link_to 'Show', project_statistic_path(@project, statistic) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
