<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @statistic.date %>
</p>

<p>
  <strong>Project:</strong>
  <%= @statistic.project_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @statistic.task_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @statistic.number %>
</p>

<%= link_to 'Back', project_statistics_path %>
