<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<br>
<br>
<h2>Tasks</h2>
<table>
  <tr style="font-weight: bold;">
    <td>Name</td>
    <td>Description</td>
    <td>Priority</td>
  </tr>
<% @tasks.each do |tasks| %>
    <tr>
      <td><%= tasks.name %></td>
      <td><%= tasks.description %></td>
      <td><%= tasks.priority %></td>
    </tr>
<% end %>
</table>
<%= link_to 'New Task', new_project_task_path(@project) %>
