%p#notice
  = notice

%p
  %strong
    Name:
  = @project.name

%p
  %strong
    Description:
  = @project.description

%p
  %strong
    Deadline:
  = @project.deadline

= link_to 'Edit', edit_project_path(@project)
= link_to 'Back', root_path
%br

%strong
  Statistic views project:
%br
= render :collection => @stats, :partial => "shared/stat"

%h2
  Tasks

= render @project.tasks
= link_to 'New Task', new_project_task_path(@project)
